.main_managers{
    max-width: 1224px;  
    margin-top: 225px;
    margin-bottom: 225px;
    
}

.managers_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.managers_img{
    max-width: 400px;
    display: inline-block;
}

.managers_desc{
    margin-left: 57px;
    margin-top: 125px;
    max-width: 393px;
    display: inline-block;
    color:rgba(255, 255, 255, 0.78);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.015em;
    
}
.img_back{
    position: absolute;
    top: 106px;
    left: 591px;
}
.managers_table{
    max-width: 265px;
    padding: 10px 20px ;
    position: absolute;
    bottom: 29px;
    right: 0;
    backdrop-filter: blur(15px);
}
.managers_name{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.015em;
   

}
.Managers_position{
    color:rgba(255, 253, 253, 0.55)
}

.managers_cliker{
    margin: 0 auto;
    width: 168px;
    display: flex;
    justify-content: space-between;

}
.cliker{
    width: 44px;
    height: 6px;
    border-radius:4px;
    background-color:#283036;
}
.cliker_active{
    background-color:#FF6E30;
}
.arrow{
    position: absolute;
    left:0;
    bottom:50%;
}
.arrow_active{
    position: absolute;
    right:0;
    bottom:50%;
}
